In [1]:
import pandas as pd

### SALUD MENTAL EN ESPAÑA


El objetivo principal del proyecto es demostrar si existe una relación entre la realidad que día a día observamos vs la realidad de los datos estadísticos que cada Comunidad Autónoma presenta. Para ello utilizaré los informes publicados por el Ministerio de Salud Pública de España e intentaré establecer el aumento de casos en los siguientes ámbitos:
- Población adulta en riesgo de mala salud mental
- Prevalencia declarada de trastornos mentales en población adulta
- DHD antidepresivos
- Mortalidad por suicidio
- Reingresos urgentes psiquiátricos


Una vez terminado el análisis de datos antes indicado, cruzaré la información con las cifras de psicólogos colegiados por Comunidad Autónoma e intentaré ver si existe relación entre el número total de colegiados vs la incidencia de problemas de salud mental por Comunidad. Dado que en el día a día vemos un aumento considerable de problemas de salud mental, los resultados esperados para este último punto, son que no exista una adecuada asignación de profesionales en cada comunidad.

Cada dataframe tendrá 3 o 4 columnas como máximo, la gran mayoría presenta los siguientes datos:
- Comunidad Autónoma
- Sexo
- Año
- Valores

Cabe recalcar que los datos que se presentan en la columna  años, no presentan las mismas dimensiones; es decir, algunos contienen información de un número menor de años (no consecutivos). Aún así, espero demostrar el incremento de cada uno de los puntos antes mencionados.

Todos los dataframes, tendrán el mismo criterio para creación de columnas y manipulación de datos. Empezaré por leer los datos de los archivos descargados del Ministerio de Sanidad y continuaré con la creación de columnas y una agrupación del dataframe entero para poder leerlo mejor en Power BI.

En Power BI, modificaré el excel para que lea la primera fila y la tome como nombre de columna.

### Número de Psicólogos por Comunidad Autónoma

In [2]:
file_name = 'Nº de Psicologos por Comunidades.xlsx'
Psicologos = pd.read_excel(file_name)
Psicologos

# los datos representan el número de colegiados en España a 31 de diciembre 2021

        COMUNIDAD AUTÓNOMA  Hombres  Mujeres  Total
0                Andalucía      975     4098   5073
1                   Aragón      140      604    744
2   Principado de Asturias      172      791    963
3           Balears, Illes      192      790    982
4                 Canarias      427     1572   1999
5                Cantabria       62      297    359
6          Castilla y León      241     1032   1273
7     Castilla - La Mancha       79      436    515
8                 Cataluña      727     3490   4217
9     Comunitad Valenciana      494     2200   2694
10             Extremadura      136      582    718
11                 Galicia      278     1281   1559
12     Comunidad de Madrid     2139     9956  12095
13                  Murcia      285     1197   1482
14                 Navarra       86      417    503
15              País Vasco      343     1654   1997
16                La Rioja       43      264    307
17                   Ceuta        7       24     31
18                 Melilla       24       76    100

In [4]:
# me quedo con 3 columnas para poder visualizarlo mejor 
# elimino la columna totales ya que si después quiero obtener ese dato, únicamento tengo que sumar los valores de hombres y mujeres
Psicologos= Psicologos.melt(id_vars=['COMUNIDAD AUTÓNOMA'], value_vars=['Hombres','Mujeres'], var_name='SEXO', value_name='VALORES')

In [5]:
#ordeno el índice para que prevalezca la CCAA
Psicologos.sort_values(by='COMUNIDAD AUTÓNOMA', inplace=True, ignore_index=True)

#hago un groupby de las 3 columnas y con eso dejo preparado el CSV con el que voy a trabajar en Power BI
Psicologos = Psicologos.groupby(by = ['COMUNIDAD AUTÓNOMA','SEXO', 'VALORES']).mean()
Psicologos

Empty DataFrame
Columns: []
Index: [(Andalucía, Hombres, 975), (Andalucía, Mujeres, 4098), (Aragón, Hombres, 140), (Aragón, Mujeres, 604), (Balears, Illes, Hombres, 192), (Balears, Illes, Mujeres, 790), (Canarias, Hombres, 427), (Canarias, Mujeres, 1572), (Cantabria, Hombres, 62), (Cantabria, Mujeres, 297), (Castilla - La Mancha, Hombres, 79), (Castilla - La Mancha, Mujeres, 436), (Castilla y León, Hombres, 241), (Castilla y León, Mujeres, 1032), (Cataluña, Hombres, 727), (Cataluña, Mujeres, 3490), (Ceuta, Hombres, 7), (Ceuta, Mujeres, 24), (Comunidad de Madrid, Hombres, 2139), (Comunidad de Madrid, Mujeres, 9956), (Comunitad Valenciana, Hombres, 494), (Comunitad Valenciana, Mujeres, 2200), (Extremadura, Hombres, 136), (Extremadura, Mujeres, 582), (Galicia, Hombres, 278), (Galicia, Mujeres, 1281), (La Rioja, Hombres, 43), (La Rioja, Mujeres, 264), (Melilla, Hombres, 24), (Melilla, Mujeres, 76), (Murcia, Hombres, 285), (Murcia, Mujeres, 1197), (Navarra, Hombres, 86), (Navarra, Mujeres, 417), (País Vasco, Hombres, 343), (País Vasco, Mujeres, 1654), (Principado de Asturias, Hombres, 172), (Principado de Asturias, Mujeres, 791)]

In [41]:
# voy a pasar a excel los datos
file_name = 'Psicologos por comunidad autonoma.xlsx'
  
# guardo el dataframe
Psicologos.to_excel(file_name)
print('Successfully exported')

Successfully exported

### Población adulta en riesgo de mala salud mental

In [31]:
file_name = 'población adulta en riesgo de mala salud mental.xlsx'
Riesgo_mala_salud = pd.read_excel(file_name)
Riesgo_mala_salud

,COMUNIDAD AUTÓNOMA,2006,2006.1,2006.2,2011,2011.1,2011.2,2017,2017.1,2017.2
0,NaN,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total
1,Andalucía,14.61,25.37,20.14,16.49,25.21,20.92,19.7,33.03,26.5
2,Aragón,11.39,23.83,17.68,11.5,15.76,13.65,9.57,15.41,12.54
3,Principado de Asturias,15.07,31.34,23.57,18.2,21.04,19.69,13.59,20.5,17.23
4,"Balears, Illes",18.8,31.46,25.14,13,20.29,16.64,10.23,14.16,12.2
5,Canarias,19.5,36.77,28.17,26.88,29.47,28.18,11.48,17.09,14.33
6,Cantabria,9.15,15.94,12.68,NaN,NaN,NaN,7.84,13.6,10.8
7,Castilla y León,10.89,17.6,14.3,15.46,20.15,17.84,15.55,20.12,17.86
8,Castilla - La Mancha,11.17,22.11,16.62,9.1,20.34,14.63,10.73,17.9,14.3
9,Cataluña,18.94,27.85,23.43,14.57,22.51,18.66,11.64,20.82,16.36
10,Comunitad Valenciana,16.86,31.03,24,20.42,28.7,24.62,16.97,24.99,21.07
11,Extremadura,10.7,25.46,18.26,11.81,25.15,18.45,4.84,10.46,7.68
12,Galicia,15.5,28.21,22.14,12.47,19.35,16.07,6.32,12.09,9.32
13,Comunidad de Madrid,18.92,28.94,24.1,18.35,22.26,20.41,12.51,18.01,15.4
14,Murcia,15.24,25.33,20.27,16.82,27.48,22.09,24.14,30.76,27.45
15,Navarra,18.75,32.12,25.48,17.44,27.25,22.42,15.18,22.56,18.92
16,País Vasco,9.92,20.79,15.58,11.43,20.8,16.26,14.69,23.09,19.04
17,La Rioja,10.2,14.29,12.23,10.9,24.01,17.52,7.74,16.47,12.16
18,Ceuta,15.7,30.28,23.13,12.56,26.75,20.14,4.1,7.72,5.88
19,Melilla,15.7,30.28,23.13,8.05,3.21,5.78,20.54,26.84,23.7

In [32]:
#elimino las columnas de totales usando un drop
Riesgo_mala_salud=Riesgo_mala_salud.drop(['2006.2','2011.2','2017.2'],axis=1)
Riesgo_mala_salud

,COMUNIDAD AUTÓNOMA,2006,2006.1,2011,2011.1,2017,2017.1
0,NaN,Hombres,Mujeres,Hombres,Mujeres,Hombres,Mujeres
1,Andalucía,14.61,25.37,16.49,25.21,19.7,33.03
2,Aragón,11.39,23.83,11.5,15.76,9.57,15.41
3,Principado de Asturias,15.07,31.34,18.2,21.04,13.59,20.5
4,"Balears, Illes",18.8,31.46,13,20.29,10.23,14.16
5,Canarias,19.5,36.77,26.88,29.47,11.48,17.09
6,Cantabria,9.15,15.94,NaN,NaN,7.84,13.6
7,Castilla y León,10.89,17.6,15.46,20.15,15.55,20.12
8,Castilla - La Mancha,11.17,22.11,9.1,20.34,10.73,17.9
9,Cataluña,18.94,27.85,14.57,22.51,11.64,20.82
10,Comunitad Valenciana,16.86,31.03,20.42,28.7,16.97,24.99
11,Extremadura,10.7,25.46,11.81,25.15,4.84,10.46
12,Galicia,15.5,28.21,12.47,19.35,6.32,12.09
13,Comunidad de Madrid,18.92,28.94,18.35,22.26,12.51,18.01
14,Murcia,15.24,25.33,16.82,27.48,24.14,30.76
15,Navarra,18.75,32.12,17.44,27.25,15.18,22.56
16,País Vasco,9.92,20.79,11.43,20.8,14.69,23.09
17,La Rioja,10.2,14.29,10.9,24.01,7.74,16.47
18,Ceuta,15.7,30.28,12.56,26.75,4.1,7.72
19,Melilla,15.7,30.28,8.05,3.21,20.54,26.84

In [33]:
#cambio el nombre de las columnas para poder agruparlas mejor posteriormente
Riesgo_mala_salud.columns = ['COMUNIDAD AUTÓNOMA'] + [f'{a}.{b}' for a, b in zip(['2006', '2006', '2011', '2011', '2017', '2017'], ['Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres'])]

#al modificar las columnas, los datos que tengo en la fila con índice 0, ya no son necesarios.
Riesgo_mala_salud.drop(0, inplace=True)

# reduzco a 3 columnas 
Riesgo_mala_salud= Riesgo_mala_salud.melt(id_vars=['COMUNIDAD AUTÓNOMA'], value_vars=['2006.Hombres','2006.Mujeres','2011.Hombres','2011.Mujeres','2017.Hombres','2017.Mujeres'], var_name='SEXO', value_name='VALORES')

# hago un split de la columna 'sexo' para que quede separado año y sexo
Riesgo_mala_salud[['AÑO','SEXO']]=Riesgo_mala_salud.SEXO.str.split('.',expand=True)
Riesgo_mala_salud = Riesgo_mala_salud[['COMUNIDAD AUTÓNOMA','SEXO','AÑO','VALORES']]

#ordeno el índice
Riesgo_mala_salud.sort_values(by='COMUNIDAD AUTÓNOMA', inplace=True, ignore_index=True)

#hago un groupby de todo el dataframe
Riesgo_mala_salud = Riesgo_mala_salud.groupby(by = ['COMUNIDAD AUTÓNOMA','SEXO','AÑO','VALORES']).mean()

# en este caso el df me queda con un columna más ya que presentó datos de 3 años (no consecutivos)
Riesgo_mala_salud

Empty DataFrame
Columns: []
Index: [(Andalucía, Hombres, 2006, 14.61), (Andalucía, Hombres, 2011, 16.49), (Andalucía, Hombres, 2017, 19.7), (Andalucía, Mujeres, 2006, 25.37), (Andalucía, Mujeres, 2011, 25.21), (Andalucía, Mujeres, 2017, 33.03), (Aragón, Hombres, 2006, 11.39), (Aragón, Hombres, 2011, 11.5), (Aragón, Hombres, 2017, 9.57), (Aragón, Mujeres, 2006, 23.83), (Aragón, Mujeres, 2011, 15.76), (Aragón, Mujeres, 2017, 15.41), (Balears, Illes, Hombres, 2006, 18.8), (Balears, Illes, Hombres, 2011, 13.0), (Balears, Illes, Hombres, 2017, 10.23), (Balears, Illes, Mujeres, 2006, 31.46), (Balears, Illes, Mujeres, 2011, 20.29), (Balears, Illes, Mujeres, 2017, 14.16), (Canarias, Hombres, 2006, 19.5), (Canarias, Hombres, 2011, 26.88), (Canarias, Hombres, 2017, 11.48), (Canarias, Mujeres, 2006, 36.77), (Canarias, Mujeres, 2011, 29.47), (Canarias, Mujeres, 2017, 17.09), (Cantabria, Hombres, 2006, 9.15), (Cantabria, Hombres, 2017, 7.84), (Cantabria, Mujeres, 2006, 15.94), (Cantabria, Mujeres, 2017, 13.6), (Castilla - La Mancha, Hombres, 2006, 11.17), (Castilla - La Mancha, Hombres, 2011, 9.1), (Castilla - La Mancha, Hombres, 2017, 10.73), (Castilla - La Mancha, Mujeres, 2006, 22.11), (Castilla - La Mancha, Mujeres, 2011, 20.34), (Castilla - La Mancha, Mujeres, 2017, 17.9), (Castilla y León, Hombres, 2006, 10.89), (Castilla y León, Hombres, 2011, 15.46), (Castilla y León, Hombres, 2017, 15.55), (Castilla y León, Mujeres, 2006, 17.6), (Castilla y León, Mujeres, 2011, 20.15), (Castilla y León, Mujeres, 2017, 20.12), (Cataluña, Hombres, 2006, 18.94), (Cataluña, Hombres, 2011, 14.57), (Cataluña, Hombres, 2017, 11.64), (Cataluña, Mujeres, 2006, 27.85), (Cataluña, Mujeres, 2011, 22.51), (Cataluña, Mujeres, 2017, 20.82), (Ceuta, Hombres, 2006, 15.7), (Ceuta, Hombres, 2011, 12.56), (Ceuta, Hombres, 2017, 4.1), (Ceuta, Mujeres, 2006, 30.28), (Ceuta, Mujeres, 2011, 26.75), (Ceuta, Mujeres, 2017, 7.72), (Comunidad de Madrid, Hombres, 2006, 18.92), (Comunidad de Madrid, Hombres, 2011, 18.35), (Comunidad de Madrid, Hombres, 2017, 12.51), (Comunidad de Madrid, Mujeres, 2006, 28.94), (Comunidad de Madrid, Mujeres, 2011, 22.26), (Comunidad de Madrid, Mujeres, 2017, 18.01), (Comunitad Valenciana, Hombres, 2006, 16.86), (Comunitad Valenciana, Hombres, 2011, 20.42), (Comunitad Valenciana, Hombres, 2017, 16.97), (Comunitad Valenciana, Mujeres, 2006, 31.03), (Comunitad Valenciana, Mujeres, 2011, 28.7), (Comunitad Valenciana, Mujeres, 2017, 24.99), (Extremadura, Hombres, 2006, 10.7), (Extremadura, Hombres, 2011, 11.81), (Extremadura, Hombres, 2017, 4.84), (Extremadura, Mujeres, 2006, 25.46), (Extremadura, Mujeres, 2011, 25.15), (Extremadura, Mujeres, 2017, 10.46), (Galicia, Hombres, 2006, 15.5), (Galicia, Hombres, 2011, 12.47), (Galicia, Hombres, 2017, 6.32), (Galicia, Mujeres, 2006, 28.21), (Galicia, Mujeres, 2011, 19.35), (Galicia, Mujeres, 2017, 12.09), (La Rioja, Hombres, 2006, 10.2), (La Rioja, Hombres, 2011, 10.9), (La Rioja, Hombres, 2017, 7.74), (La Rioja, Mujeres, 2006, 14.29), (La Rioja, Mujeres, 2011, 24.01), (La Rioja, Mujeres, 2017, 16.47), (Melilla, Hombres, 2006, 15.7), (Melilla, Hombres, 2011, 8.05), (Melilla, Hombres, 2017, 20.54), (Melilla, Mujeres, 2006, 30.28), (Melilla, Mujeres, 2011, 3.21), (Melilla, Mujeres, 2017, 26.84), (Murcia, Hombres, 2006, 15.24), (Murcia, Hombres, 2011, 16.82), (Murcia, Hombres, 2017, 24.14), (Murcia, Mujeres, 2006, 25.33), (Murcia, Mujeres, 2011, 27.48), (Murcia, Mujeres, 2017, 30.76), (Navarra, Hombres, 2006, 18.75), (Navarra, Hombres, 2011, 17.44), (Navarra, Hombres, 2017, 15.18), (Navarra, Mujeres, 2006, 32.12), (Navarra, Mujeres, 2011, 27.25), (Navarra, Mujeres, 2017, 22.56), ...]

[112 rows x 0 columns]

In [42]:
# paso a excel los datos 
file_name = 'Riesgo de mala salud mental.xlsx'
  
# guardo el dataframe
Riesgo_mala_salud.to_excel(file_name)
print('Successfully exported')

Successfully exported

###  Prevalencia de trastornos mentales

In [18]:
file_name = 'PREVALENCIA TRASTORNOS MENTALES.xlsx'
Prevalencia_trastornos = pd.read_excel(file_name)
Prevalencia_trastornos

,COMUNIDAD AUTÓNOMA,2006,2006.1,2006.2,2009,2009.1,2009.2,2011,2011.1,2011.2,2014,2014.1,2014.2,2017,2017.1,2017.2,2020,2020.1,2020.2
0,NaN,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total
1,Andalucía,7.32,18.1,12.8,6.19,12.22,9.25,5.64,13.19,9.48,7.62,16.96,12.38,8.14,15.7,12,5.57,10.1,7.88
2,Aragón,5.01,13.19,9.13,5.52,9.01,7.28,4.46,11.31,7.93,5.69,11.29,8.53,4.93,12.18,8.62,4.42,9.56,7.04
3,Principado de Asturias,9.27,25.19,17.63,5.37,13.94,9.88,12.09,18.98,15.71,7.73,19.34,13.82,12.61,24.17,18.68,7.86,17.14,12.69
4,"Balears, Illes",10.27,19.15,14.72,6.72,14.69,10.71,4.97,12.69,8.85,6.04,14.98,10.54,5.47,10.61,8.07,7.38,14.86,11.15
5,Canarias,6.21,13.29,9.77,8.67,15.92,12.31,7.58,16.12,11.89,8.96,17.77,13.41,6.87,12.36,9.66,8.13,15.06,11.65
6,Cantabria,5.22,13.38,9.42,6.46,13.67,10.17,6.62,8.73,7.71,5.76,14.37,10.18,8.69,15.46,12.18,6.06,7.47,6.79
7,Castilla y León,6.2,12.2,9.25,4.18,11.19,7.73,4.65,12.22,8.5,4.35,14.18,9.35,8.86,11.72,10.31,7.32,13.61,10.51
8,Castilla - La Mancha,6.3,14.73,10.51,6.05,14.39,10.19,4.23,17.97,11.07,6.08,10.28,8.17,5.77,16.58,11.16,6.6,11.65,9.12
9,Cataluña,5.96,15.22,10.68,5.77,12.06,8.98,6.83,14.92,10.99,7.95,14.1,11.1,6.38,14.15,10.38,5.25,11.96,8.7
10,Comunitad Valenciana,5.79,16.17,11.03,5.38,15.37,10.43,5.03,13.71,9.43,6.38,11.95,9.22,7.38,13.33,10.42,7.4,12.24,9.88
11,Extremadura,9,16.9,12.99,5.69,15.58,10.7,3.39,17.72,10.64,7.78,19.95,13.92,5.37,12.13,8.78,4.1,10.26,7.22
12,Galicia,9.53,23,16.57,8.11,19.31,13.97,8.01,17.89,13.16,9.13,21.32,15.51,9.94,21.93,16.2,8.95,18.74,14.05
13,Comunidad de Madrid,5.51,14.11,9.98,4.52,10.36,7.56,4.03,6.71,5.43,3.81,10.51,7.33,5.42,10.71,8.2,3.65,10.35,7.17
14,Murcia,7.3,18.91,13.06,6.4,23.01,14.63,6.91,17.92,12.37,6.73,14.05,10.4,8.19,12.16,10.18,7.54,20.09,13.85
15,Navarra,8.23,15.32,11.8,5.35,12.22,8.81,5.61,16.49,11.13,8.13,10.31,9.23,8.37,13.02,10.72,6.44,9.27,7.88
16,País Vasco,5.58,15.95,10.91,6.12,8.3,7.25,4.64,11.46,8.17,6.33,11.9,9.22,6.87,13.24,10.18,5.62,12.45,9.18
17,La Rioja,2.05,6.29,4.16,5.04,11.06,8.06,3.53,5.5,4.53,4.17,13.67,8.99,4.97,11.12,8.11,3.85,12.05,8.03
18,Ceuta,6.62,13.72,10.23,1.9,9.65,5.84,4.72,11.14,8.15,12.01,26.91,18.85,4.04,11.54,7.76,6.11,9.99,8.04
19,Melilla,6.62,13.72,10.23,4.25,7.24,5.77,4.08,2.51,3.35,4.12,7.54,5.91,2.55,11.99,7.29,0.75,5.84,3.31

In [19]:
#elimino las columnas de totales
Prevalencia_trastornos=Prevalencia_trastornos.drop(['2006.2','2009.2','2011.2','2014.2','2017.2','2020.2'],axis=1)
Prevalencia_trastornos

,COMUNIDAD AUTÓNOMA,2006,2006.1,2009,2009.1,2011,2011.1,2014,2014.1,2017,2017.1,2020,2020.1
0,NaN,Hombres,Mujeres,Hombres,Mujeres,Hombres,Mujeres,Hombres,Mujeres,Hombres,Mujeres,Hombres,Mujeres
1,Andalucía,7.32,18.1,6.19,12.22,5.64,13.19,7.62,16.96,8.14,15.7,5.57,10.1
2,Aragón,5.01,13.19,5.52,9.01,4.46,11.31,5.69,11.29,4.93,12.18,4.42,9.56
3,Principado de Asturias,9.27,25.19,5.37,13.94,12.09,18.98,7.73,19.34,12.61,24.17,7.86,17.14
4,"Balears, Illes",10.27,19.15,6.72,14.69,4.97,12.69,6.04,14.98,5.47,10.61,7.38,14.86
5,Canarias,6.21,13.29,8.67,15.92,7.58,16.12,8.96,17.77,6.87,12.36,8.13,15.06
6,Cantabria,5.22,13.38,6.46,13.67,6.62,8.73,5.76,14.37,8.69,15.46,6.06,7.47
7,Castilla y León,6.2,12.2,4.18,11.19,4.65,12.22,4.35,14.18,8.86,11.72,7.32,13.61
8,Castilla - La Mancha,6.3,14.73,6.05,14.39,4.23,17.97,6.08,10.28,5.77,16.58,6.6,11.65
9,Cataluña,5.96,15.22,5.77,12.06,6.83,14.92,7.95,14.1,6.38,14.15,5.25,11.96
10,Comunitad Valenciana,5.79,16.17,5.38,15.37,5.03,13.71,6.38,11.95,7.38,13.33,7.4,12.24
11,Extremadura,9,16.9,5.69,15.58,3.39,17.72,7.78,19.95,5.37,12.13,4.1,10.26
12,Galicia,9.53,23,8.11,19.31,8.01,17.89,9.13,21.32,9.94,21.93,8.95,18.74
13,Comunidad de Madrid,5.51,14.11,4.52,10.36,4.03,6.71,3.81,10.51,5.42,10.71,3.65,10.35
14,Murcia,7.3,18.91,6.4,23.01,6.91,17.92,6.73,14.05,8.19,12.16,7.54,20.09
15,Navarra,8.23,15.32,5.35,12.22,5.61,16.49,8.13,10.31,8.37,13.02,6.44,9.27
16,País Vasco,5.58,15.95,6.12,8.3,4.64,11.46,6.33,11.9,6.87,13.24,5.62,12.45
17,La Rioja,2.05,6.29,5.04,11.06,3.53,5.5,4.17,13.67,4.97,11.12,3.85,12.05
18,Ceuta,6.62,13.72,1.9,9.65,4.72,11.14,12.01,26.91,4.04,11.54,6.11,9.99
19,Melilla,6.62,13.72,4.25,7.24,4.08,2.51,4.12,7.54,2.55,11.99,0.75,5.84

In [25]:
#cambio el nombre de las columnas 
Prevalencia_trastornos.columns = ['COMUNIDAD AUTÓNOMA'] + [f'{a}.{b}' for a, b in zip(['2006', '2006','2009','2009','2011', '2011','2014','2014','2017', '2017','2020','2020'], ['Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres'])]

#elimino la fila 0
Prevalencia_trastornos.drop(0, inplace=True)

# reduzco a 3 columnas 
Prevalencia_trastornos = Prevalencia_trastornos.melt(id_vars=['COMUNIDAD AUTÓNOMA'], value_vars=['2006.Hombres','2006.Mujeres','2009.Hombres','2009.Mujeres','2011.Hombres','2011.Mujeres','2014.Hombres','2014.Mujeres','2017.Hombres','2017.Mujeres','2020.Hombres','2020.Mujeres'], var_name='SEXO', value_name='VALORES')


# hago un split de la columna 'sexo'  y creo la columna 'año'
Prevalencia_trastornos[['AÑO','SEXO']]=Prevalencia_trastornos.SEXO.str.split('.',expand=True)
Prevalencia_trastornos = Prevalencia_trastornos[['COMUNIDAD AUTÓNOMA','SEXO','AÑO','VALORES']]

#ordeno el índice
Prevalencia_trastornos.sort_values(by='COMUNIDAD AUTÓNOMA', inplace=True, ignore_index=True)

#hago un groupby de todo el dataframe
Prevalencia_trastornos = Prevalencia_trastornos.groupby(by = ['COMUNIDAD AUTÓNOMA','SEXO','AÑO','VALORES']).mean()

# los datos presentados son desde 2006 hasta 2020 (no consecutivos)
Prevalencia_trastornos

Empty DataFrame
Columns: []
Index: [(Andalucía, Hombres, 2006, 7.32), (Andalucía, Hombres, 2009, 6.19), (Andalucía, Hombres, 2011, 5.64), (Andalucía, Hombres, 2014, 7.62), (Andalucía, Hombres, 2017, 8.14), (Andalucía, Hombres, 2020, 5.57), (Andalucía, Mujeres, 2006, 18.1), (Andalucía, Mujeres, 2009, 12.22), (Andalucía, Mujeres, 2011, 13.19), (Andalucía, Mujeres, 2014, 16.96), (Andalucía, Mujeres, 2017, 15.7), (Andalucía, Mujeres, 2020, 10.1), (Aragón, Hombres, 2006, 5.01), (Aragón, Hombres, 2009, 5.52), (Aragón, Hombres, 2011, 4.46), (Aragón, Hombres, 2014, 5.69), (Aragón, Hombres, 2017, 4.93), (Aragón, Hombres, 2020, 4.42), (Aragón, Mujeres, 2006, 13.19), (Aragón, Mujeres, 2009, 9.01), (Aragón, Mujeres, 2011, 11.31), (Aragón, Mujeres, 2014, 11.29), (Aragón, Mujeres, 2017, 12.18), (Aragón, Mujeres, 2020, 9.56), (Balears, Illes, Hombres, 2006, 10.27), (Balears, Illes, Hombres, 2009, 6.72), (Balears, Illes, Hombres, 2011, 4.97), (Balears, Illes, Hombres, 2014, 6.04), (Balears, Illes, Hombres, 2017, 5.47), (Balears, Illes, Hombres, 2020, 7.38), (Balears, Illes, Mujeres, 2006, 19.15), (Balears, Illes, Mujeres, 2009, 14.69), (Balears, Illes, Mujeres, 2011, 12.69), (Balears, Illes, Mujeres, 2014, 14.98), (Balears, Illes, Mujeres, 2017, 10.61), (Balears, Illes, Mujeres, 2020, 14.86), (Canarias, Hombres, 2006, 6.21), (Canarias, Hombres, 2009, 8.67), (Canarias, Hombres, 2011, 7.58), (Canarias, Hombres, 2014, 8.96), (Canarias, Hombres, 2017, 6.87), (Canarias, Hombres, 2020, 8.13), (Canarias, Mujeres, 2006, 13.29), (Canarias, Mujeres, 2009, 15.92), (Canarias, Mujeres, 2011, 16.12), (Canarias, Mujeres, 2014, 17.77), (Canarias, Mujeres, 2017, 12.36), (Canarias, Mujeres, 2020, 15.06), (Cantabria, Hombres, 2006, 5.22), (Cantabria, Hombres, 2009, 6.46), (Cantabria, Hombres, 2011, 6.62), (Cantabria, Hombres, 2014, 5.76), (Cantabria, Hombres, 2017, 8.69), (Cantabria, Hombres, 2020, 6.06), (Cantabria, Mujeres, 2006, 13.38), (Cantabria, Mujeres, 2009, 13.67), (Cantabria, Mujeres, 2011, 8.73), (Cantabria, Mujeres, 2014, 14.37), (Cantabria, Mujeres, 2017, 15.46), (Cantabria, Mujeres, 2020, 7.47), (Castilla - La Mancha, Hombres, 2006, 6.3), (Castilla - La Mancha, Hombres, 2009, 6.05), (Castilla - La Mancha, Hombres, 2011, 4.23), (Castilla - La Mancha, Hombres, 2014, 6.08), (Castilla - La Mancha, Hombres, 2017, 5.77), (Castilla - La Mancha, Hombres, 2020, 6.6), (Castilla - La Mancha, Mujeres, 2006, 14.73), (Castilla - La Mancha, Mujeres, 2009, 14.39), (Castilla - La Mancha, Mujeres, 2011, 17.97), (Castilla - La Mancha, Mujeres, 2014, 10.28), (Castilla - La Mancha, Mujeres, 2017, 16.58), (Castilla - La Mancha, Mujeres, 2020, 11.65), (Castilla y León, Hombres, 2006, 6.2), (Castilla y León, Hombres, 2009, 4.18), (Castilla y León, Hombres, 2011, 4.65), (Castilla y León, Hombres, 2014, 4.35), (Castilla y León, Hombres, 2017, 8.86), (Castilla y León, Hombres, 2020, 7.32), (Castilla y León, Mujeres, 2006, 12.2), (Castilla y León, Mujeres, 2009, 11.19), (Castilla y León, Mujeres, 2011, 12.22), (Castilla y León, Mujeres, 2014, 14.18), (Castilla y León, Mujeres, 2017, 11.72), (Castilla y León, Mujeres, 2020, 13.61), (Cataluña, Hombres, 2006, 5.96), (Cataluña, Hombres, 2009, 5.77), (Cataluña, Hombres, 2011, 6.83), (Cataluña, Hombres, 2014, 7.95), (Cataluña, Hombres, 2017, 6.38), (Cataluña, Hombres, 2020, 5.25), (Cataluña, Mujeres, 2006, 15.22), (Cataluña, Mujeres, 2009, 12.06), (Cataluña, Mujeres, 2011, 14.92), (Cataluña, Mujeres, 2014, 14.1), (Cataluña, Mujeres, 2017, 14.15), (Cataluña, Mujeres, 2020, 11.96), (Ceuta, Hombres, 2006, 6.62), (Ceuta, Hombres, 2009, 1.9), (Ceuta, Hombres, 2011, 4.72), (Ceuta, Hombres, 2014, 12.01), ...]

[228 rows x 0 columns]

In [43]:
# paso a excel los datos 
file_name = 'Prevalencia trastornos mentales.xlsx'
  
# guardo el dataframe
Prevalencia_trastornos.to_excel(file_name)
print('Successfully exported')

Successfully exported

### DHD antidepresivos

In [2]:
file_name = 'DHD antidepresivos.xlsx'
DHD_antidepresivos = pd.read_excel(file_name)
DHD_antidepresivos

,COMUNIDAD AUTÓNOMA,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Andalucía,55.01,57.19,58.41,61.16,64.21,65.75,67.96,69.81,72.91,76.45,80.44,85.99
1,Aragón,67.37,70.92,70.79,71.62,75.56,77.41,81.90,83.11,85.89,88.74,91.26,96.16
2,Principado de Asturias,92.55,97.79,97.15,100.59,105.58,109.70,113.81,116.56,120.03,124.95,129.75,136.08
3,"Balears, Illes",67.13,70.31,69.05,71.00,73.10,73.79,75.92,76.67,78.59,81.63,84.59,90.15
4,Canarias,56.59,57.70,58.02,61.63,65.01,67.25,70.51,73.33,76.51,80.03,85.74,92.72
5,Cantabria,64.29,67.97,68.92,71.60,74.25,77.07,80.83,82.86,87.63,92.29,98.18,104.68
6,Castilla y León,66.31,70.07,67.75,70.34,73.00,74.63,77.28,79.72,83.09,87.36,91.90,97.23
7,Castilla - La Mancha,65.91,67.70,69.07,71.89,75.21,77.13,81.12,83.06,86.31,90.05,95.39,99.68
8,Cataluña,74.31,77.91,74.72,75.06,76.92,77.59,78.20,79.11,80.53,83.19,85.59,91.58
9,Comunitad Valenciana,58.24,60.54,59.04,60.40,64.60,66.93,71.59,73.92,77.25,80.67,82.42,88.52
10,Extremadura,85.47,88.39,90.37,95.10,99.68,102.98,107.92,109.36,112.76,116.82,123.26,129.67
11,Galicia,92.07,95.93,92.61,99.53,102.67,105.60,111.27,114.26,118.83,124.56,130.71,139.91
12,Comunidad de Madrid,50.53,53.44,53.95,54.64,58.09,60.03,62.83,64.46,66.86,68.81,69.81,74.81
13,Murcia,63.04,66.48,66.90,69.90,73.50,75.81,79.91,82.14,86.06,90.57,95.54,104.20
14,Navarra,67.19,70.30,68.83,70.06,72.75,74.40,77.85,77.56,79.73,81.20,83.11,88.20
15,País Vasco,56.04,58.78,58.89,59.91,60.28,61.32,63.58,64.40,65.70,67.26,69.74,73.27
16,La Rioja,61.77,65.26,64.15,65.42,67.98,69.85,73.24,75.40,77.54,79.70,82.16,86.13
17,Ceuta,39.87,40.87,42.02,44.34,46.19,48.78,51.71,53.81,54.36,56.58,58.22,61.69
18,Melilla,33.19,33.15,31.68,32.87,34.31,35.76,37.91,38.73,40.70,43.88,45.85,49.22

In [3]:
# dejo mi df en 3 columnas
DHD_antidepresivos= DHD_antidepresivos.melt(id_vars=['COMUNIDAD AUTÓNOMA'], value_vars=['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020'], var_name='AÑO', value_name='VALORES')

#ordeno el índice por CCAA
DHD_antidepresivos.sort_values(by='COMUNIDAD AUTÓNOMA', inplace=True, ignore_index=True)

# agrupo todo el df
DHD_antidepresivos.groupby(by = ['COMUNIDAD AUTÓNOMA','AÑO','VALORES']).mean()

# el df presenta datos desde 2010 hasta 2021 (no consecutivos)

Empty DataFrame
Columns: []
Index: [(Andalucía, 2010, 55.01), (Andalucía, 2011, 57.19), (Andalucía, 2012, 58.41), (Andalucía, 2013, 61.16), (Andalucía, 2014, 64.21), (Andalucía, 2015, 65.75), (Andalucía, 2016, 67.96), (Andalucía, 2017, 69.81), (Andalucía, 2018, 72.91), (Andalucía, 2019, 76.45), (Andalucía, 2020, 80.44), (Aragón, 2010, 67.37), (Aragón, 2011, 70.92), (Aragón, 2012, 70.79), (Aragón, 2013, 71.62), (Aragón, 2014, 75.56), (Aragón, 2015, 77.41), (Aragón, 2016, 81.9), (Aragón, 2017, 83.11), (Aragón, 2018, 85.89), (Aragón, 2019, 88.74), (Aragón, 2020, 91.26), (Balears, Illes, 2010, 67.13), (Balears, Illes, 2011, 70.31), (Balears, Illes, 2012, 69.05), (Balears, Illes, 2013, 71.0), (Balears, Illes, 2014, 73.1), (Balears, Illes, 2015, 73.79), (Balears, Illes, 2016, 75.92), (Balears, Illes, 2017, 76.67), (Balears, Illes, 2018, 78.59), (Balears, Illes, 2019, 81.63), (Balears, Illes, 2020, 84.59), (Canarias, 2010, 56.59), (Canarias, 2011, 57.7), (Canarias, 2012, 58.02), (Canarias, 2013, 61.63), (Canarias, 2014, 65.01), (Canarias, 2015, 67.25), (Canarias, 2016, 70.51), (Canarias, 2017, 73.33), (Canarias, 2018, 76.51), (Canarias, 2019, 80.03), (Canarias, 2020, 85.74), (Cantabria, 2010, 64.29), (Cantabria, 2011, 67.97), (Cantabria, 2012, 68.92), (Cantabria, 2013, 71.6), (Cantabria, 2014, 74.25), (Cantabria, 2015, 77.07), (Cantabria, 2016, 80.83), (Cantabria, 2017, 82.86), (Cantabria, 2018, 87.63), (Cantabria, 2019, 92.29), (Cantabria, 2020, 98.18), (Castilla - La Mancha, 2010, 65.91), (Castilla - La Mancha, 2011, 67.7), (Castilla - La Mancha, 2012, 69.07), (Castilla - La Mancha, 2013, 71.89), (Castilla - La Mancha, 2014, 75.21), (Castilla - La Mancha, 2015, 77.13), (Castilla - La Mancha, 2016, 81.12), (Castilla - La Mancha, 2017, 83.06), (Castilla - La Mancha, 2018, 86.31), (Castilla - La Mancha, 2019, 90.05), (Castilla - La Mancha, 2020, 95.39), (Castilla y León, 2010, 66.31), (Castilla y León, 2011, 70.07), (Castilla y León, 2012, 67.75), (Castilla y León, 2013, 70.34), (Castilla y León, 2014, 73.0), (Castilla y León, 2015, 74.63), (Castilla y León, 2016, 77.28), (Castilla y León, 2017, 79.72), (Castilla y León, 2018, 83.09), (Castilla y León, 2019, 87.36), (Castilla y León, 2020, 91.9), (Cataluña, 2010, 74.31), (Cataluña, 2011, 77.91), (Cataluña, 2012, 74.72), (Cataluña, 2013, 75.06), (Cataluña, 2014, 76.92), (Cataluña, 2015, 77.59), (Cataluña, 2016, 78.2), (Cataluña, 2017, 79.11), (Cataluña, 2018, 80.53), (Cataluña, 2019, 83.19), (Cataluña, 2020, 85.59), (Ceuta, 2010, 39.87), (Ceuta, 2011, 40.87), (Ceuta, 2012, 42.02), (Ceuta, 2013, 44.34), (Ceuta, 2014, 46.19), (Ceuta, 2015, 48.78), (Ceuta, 2016, 51.71), (Ceuta, 2017, 53.81), (Ceuta, 2018, 54.36), (Ceuta, 2019, 56.58), (Ceuta, 2020, 58.22), (Comunidad de Madrid, 2010, 50.53), ...]

[209 rows x 0 columns]

In [4]:
# paso a excel los datos 
file_name = 'DHD_antidepresivos.xlsx'
  
# guardo el dataframe
DHD_antidepresivos.to_excel(file_name)
print('Successfully exported')

Successfully exported

### Mortalidad por suicidio

In [36]:
file_name = 'Mortalidad por suicidio.xlsx'
Mortalidad = pd.read_excel(file_name)
Mortalidad

,COMUNIDAD AUTÓNOMA,2010,2010.1,2010.2,2011,2011.1,2011.2,2012,2012.1,2012.2,...,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2,2020,2020.1,2020.2
0,NaN,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,...,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total
1,Andalucía,15.12,3.65,8.84,14.34,3.24,8.3,16.47,3.97,9.78,...,8.29,12.67,3.37,7.71,11.81,3.7,7.52,14.4,4.89,9.3
2,Aragón,11.18,2.91,6.75,8.86,3.79,6.16,10.88,3.56,7.04,...,7.1,13.85,3.54,8.46,11.86,3.96,7.75,10.06,4.56,7.07
3,Principado de Asturias,20.33,5.46,12.15,14.72,6.06,9.87,15.11,7.56,10.74,...,11.29,17.45,6.28,11.05,17.79,4.94,10.67,15.79,5.79,10.12
4,"Balears, Illes",14.81,3.97,9.22,11.9,5.41,8.54,13.29,3.44,8.3,...,8.81,9.41,2.96,6.1,11.83,4.46,8.06,11.94,2.55,7.03
5,Canarias,12.86,3.05,7.87,10.78,3.36,6.88,14.7,3.53,8.97,...,9.04,13.51,3.55,8.44,14.98,2.64,8.56,13.87,4.2,8.85
6,Cantabria,6.59,0.3,3.34,7.86,4.23,6.02,8.72,3.68,6.14,...,4.42,7.71,1.55,4.58,8.37,3.74,5.92,10.94,3.73,7
7,Castilla y León,12.82,3.14,7.68,10.35,2.96,6.49,11.62,3.38,7.32,...,7.97,11.89,3.99,7.76,12.24,4.04,7.92,13.08,3.75,8.19
8,Castilla - La Mancha,11.8,2.45,6.83,11.98,2.24,6.91,12.85,2.73,7.53,...,7.47,9.1,3.3,6.1,11.23,3.52,7.24,14.18,3.24,8.43
9,Cataluña,9.46,2.46,5.69,10.02,3.18,6.36,11.59,3.44,7.16,...,6.62,10.47,3.51,6.75,10.22,3.82,6.81,11.2,3.49,7.05
10,Comunitad Valenciana,12.67,3.94,8.03,10.64,2.91,6.56,12.89,3.68,7.98,...,7.73,12.08,3.93,7.72,14.04,3.72,8.55,12.69,4.49,8.34
11,Extremadura,14.47,1.51,7.39,10.77,1.71,6.1,12.61,1.72,6.63,...,6.6,10.56,2.12,6.15,12.42,2.01,7.05,14.58,2.22,8.16
12,Galicia,14.54,4.71,9.16,16.9,4.14,10.02,17.74,4.98,10.97,...,10.61,13.2,5.03,8.86,15.28,4.65,9.57,15.2,5.23,9.93
13,Comunidad de Madrid,3.22,0.91,1.95,3.74,0.92,2.17,2.5,0.67,1.46,...,5.16,7.42,3.14,5.1,7.84,2.94,5.18,8.05,3.08,5.36
14,Murcia,10.15,2.71,6.38,15.3,3.21,8.76,13.59,2.53,7.62,...,6.63,13.12,4.46,8.7,13.91,3.17,8.35,14.59,2.65,8.31
15,Navarra,10.31,2.39,6.21,12.35,4.23,7.97,12.05,2.81,7.25,...,7.36,8.66,3.09,5.75,10.39,3.69,6.85,9.55,3.57,6.5
16,País Vasco,9.57,2.05,5.5,11.53,3.96,7.45,12.45,3.91,7.68,...,7.63,10.44,3.83,6.82,10.16,2.19,5.95,12.03,3.37,7.36
17,La Rioja,10.49,1.45,5.8,10.53,4.18,7.24,15.08,4.38,9.3,...,7.62,10.17,2.71,6.11,12.45,5.72,8.75,12.58,4.47,8.27
18,Ceuta,16.38,0,6.86,0,2.39,1.14,7.12,0,3.76,...,3.35,2.17,0,1.11,8.96,0,4.59,9.93,0,5.12
19,Melilla,1.84,0,0.97,9.93,2.64,6.61,22.85,0,11.11,...,3.53,2.48,0,1.23,2.53,0,1.34,7.56,2.2,4.96

In [37]:
#elimino las columnas de totales
Mortalidad=Mortalidad.drop(['2010.2','2011.2','2012.2','2013.2','2014.2','2015.2','2016.2','2017.2','2018.2','2019.2','2020.2'],axis=1)
Mortalidad

#cambio el nombre de las columnas 
Mortalidad.columns = ['COMUNIDAD AUTÓNOMA'] + [f'{a}.{b}' for a, b in zip(['2010','2010','2011','2011','2012','2012','2013','2013','2014','2014','2015','2015','2016','2016','2017','2017','2018','2018','2019','2019','2020','2020'], ['Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres'])]

#elimino la fila 0
Mortalidad.drop(0, inplace=True)

# reduzco a 3 columnas 
Mortalidad = Mortalidad.melt(id_vars=['COMUNIDAD AUTÓNOMA'], value_vars=['2010.Hombres','2010.Mujeres','2011.Hombres','2011.Mujeres','2012.Hombres','2012.Mujeres','2013.Hombres','2013.Mujeres','2014.Hombres','2014.Mujeres','2015.Hombres','2015.Mujeres','2016.Hombres','2016.Mujeres','2017.Hombres','2017.Mujeres','2018.Hombres','2018.Mujeres','2019.Hombres','2019.Mujeres','2020.Hombres','2020.Mujeres'], var_name='SEXO', value_name='VALORES')


# hago un split de la columna 'sexo' y creo la columna 'año'
Mortalidad[['AÑO','SEXO']]=Mortalidad.SEXO.str.split('.',expand=True)
Mortalidad = Mortalidad[['COMUNIDAD AUTÓNOMA','SEXO','AÑO','VALORES']]

#ordeno el índice
Mortalidad.sort_values(by='COMUNIDAD AUTÓNOMA', inplace=True, ignore_index=True)

#hago un groupby de todo el dataframe
Mortalidad = Mortalidad.groupby(by = ['COMUNIDAD AUTÓNOMA','SEXO','AÑO','VALORES']).mean()

# los datos presentados son desde 2010 hasta 2020 (consecutivos)
Mortalidad

Empty DataFrame
Columns: []
Index: [(Andalucía, Hombres, 2010, 15.12), (Andalucía, Hombres, 2011, 14.34), (Andalucía, Hombres, 2012, 16.47), (Andalucía, Hombres, 2013, 16.47), (Andalucía, Hombres, 2014, 16.64), (Andalucía, Hombres, 2015, 14.05), (Andalucía, Hombres, 2016, 13.79), (Andalucía, Hombres, 2017, 13.03), (Andalucía, Hombres, 2018, 12.67), (Andalucía, Hombres, 2019, 11.81), (Andalucía, Hombres, 2020, 14.4), (Andalucía, Mujeres, 2010, 3.65), (Andalucía, Mujeres, 2011, 3.24), (Andalucía, Mujeres, 2012, 3.97), (Andalucía, Mujeres, 2013, 4.6), (Andalucía, Mujeres, 2014, 3.87), (Andalucía, Mujeres, 2015, 3.69), (Andalucía, Mujeres, 2016, 3.23), (Andalucía, Mujeres, 2017, 4.3), (Andalucía, Mujeres, 2018, 3.37), (Andalucía, Mujeres, 2019, 3.7), (Andalucía, Mujeres, 2020, 4.89), (Aragón, Hombres, 2010, 11.18), (Aragón, Hombres, 2011, 8.86), (Aragón, Hombres, 2012, 10.88), (Aragón, Hombres, 2013, 10.19), (Aragón, Hombres, 2014, 13.73), (Aragón, Hombres, 2015, 15.04), (Aragón, Hombres, 2016, 12.64), (Aragón, Hombres, 2017, 10.77), (Aragón, Hombres, 2018, 13.85), (Aragón, Hombres, 2019, 11.86), (Aragón, Hombres, 2020, 10.06), (Aragón, Mujeres, 2010, 2.91), (Aragón, Mujeres, 2011, 3.79), (Aragón, Mujeres, 2012, 3.56), (Aragón, Mujeres, 2013, 4.19), (Aragón, Mujeres, 2014, 3.69), (Aragón, Mujeres, 2015, 4.77), (Aragón, Mujeres, 2016, 3.6), (Aragón, Mujeres, 2017, 3.72), (Aragón, Mujeres, 2018, 3.54), (Aragón, Mujeres, 2019, 3.96), (Aragón, Mujeres, 2020, 4.56), (Balears, Illes, Hombres, 2010, 14.81), (Balears, Illes, Hombres, 2011, 11.9), (Balears, Illes, Hombres, 2012, 13.29), (Balears, Illes, Hombres, 2013, 15.99), (Balears, Illes, Hombres, 2014, 12.75), (Balears, Illes, Hombres, 2015, 11.48), (Balears, Illes, Hombres, 2016, 12.05), (Balears, Illes, Hombres, 2017, 12.88), (Balears, Illes, Hombres, 2018, 9.41), (Balears, Illes, Hombres, 2019, 11.83), (Balears, Illes, Hombres, 2020, 11.94), (Balears, Illes, Mujeres, 2010, 3.97), (Balears, Illes, Mujeres, 2011, 5.41), (Balears, Illes, Mujeres, 2012, 3.44), (Balears, Illes, Mujeres, 2013, 4.51), (Balears, Illes, Mujeres, 2014, 5.44), (Balears, Illes, Mujeres, 2015, 5.81), (Balears, Illes, Mujeres, 2016, 4.31), (Balears, Illes, Mujeres, 2017, 5.35), (Balears, Illes, Mujeres, 2018, 2.96), (Balears, Illes, Mujeres, 2019, 4.46), (Balears, Illes, Mujeres, 2020, 2.55), (Canarias, Hombres, 2010, 12.86), (Canarias, Hombres, 2011, 10.78), (Canarias, Hombres, 2012, 14.7), (Canarias, Hombres, 2013, 13.79), (Canarias, Hombres, 2014, 13.24), (Canarias, Hombres, 2015, 13.13), (Canarias, Hombres, 2016, 13.04), (Canarias, Hombres, 2017, 13.82), (Canarias, Hombres, 2018, 13.51), (Canarias, Hombres, 2019, 14.98), (Canarias, Hombres, 2020, 13.87), (Canarias, Mujeres, 2010, 3.05), (Canarias, Mujeres, 2011, 3.36), (Canarias, Mujeres, 2012, 3.53), (Canarias, Mujeres, 2013, 4.44), (Canarias, Mujeres, 2014, 4.0), (Canarias, Mujeres, 2015, 4.58), (Canarias, Mujeres, 2016, 3.63), (Canarias, Mujeres, 2017, 4.71), (Canarias, Mujeres, 2018, 3.55), (Canarias, Mujeres, 2019, 2.64), (Canarias, Mujeres, 2020, 4.2), (Cantabria, Hombres, 2010, 6.59), (Cantabria, Hombres, 2011, 7.86), (Cantabria, Hombres, 2012, 8.72), (Cantabria, Hombres, 2013, 8.38), (Cantabria, Hombres, 2014, 9.65), (Cantabria, Hombres, 2015, 10.0), (Cantabria, Hombres, 2016, 10.72), (Cantabria, Hombres, 2017, 5.96), (Cantabria, Hombres, 2018, 7.71), (Cantabria, Hombres, 2019, 8.37), (Cantabria, Hombres, 2020, 10.94), (Cantabria, Mujeres, 2010, 0.3), ...]

[418 rows x 0 columns]

In [45]:
# paso a excel los datos 
file_name = 'Mortalidad.xlsx'
  
# guardo el dataframe
Mortalidad.to_excel(file_name)
print('Successfully exported')

Successfully exported

### Reingresos en urgencias psiquiátricas

In [39]:
file_name = 'reingresos urgencias.xlsx'
Reingresos_urgencias = pd.read_excel(file_name)
Reingresos_urgencias

,COMUNIDAD AUTÓNOMA,2005,2005.1,2006,2006.1,2007,2007.1,2008,2008.1,2009,...,2016,2016.1,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1
0,NaN,Hombres,Mujeres,Hombres,Mujeres,Hombres,Mujeres,Hombres,Mujeres,Hombres,...,Hombres,Mujeres,Hombres,Mujeres,Hombres,Mujeres,Hombres,Mujeres,Hombres,Mujeres
1,Andalucía,12.38,12.12,12.5,12.6,14.39,13.23,13.58,13.03,14.01,...,13.09,13.12,13.8,12.67,12.79,13.68,12.43,14.08,13.88,16.81
2,Aragón,12.68,11.36,11.29,11.14,11.69,10.72,11.64,10.68,9.75,...,7.56,8.49,7.31,9.71,8.68,9.36,9.52,7.49,9.41,8.84
3,Principado de Asturias,11.38,8.99,12.67,12.94,11.98,14.09,12.55,14.25,10.06,...,11.18,11.17,NaN,NaN,11.86,12.57,10.96,12.04,15.54,16
4,"Balears, Illes",10.14,11.18,11.46,12.58,11.98,9.01,12.94,12.58,9.93,...,7.41,9.14,9.93,9.68,9.97,12.26,8.25,10.45,10.13,9.18
5,Canarias,5.84,8.19,6.25,8.8,5.59,7.56,5.91,6.86,5.96,...,9.17,10.4,7.26,7.63,9.04,10.99,8.8,10.01,10.01,12.46
6,Cantabria,5.88,6.25,7.27,7.76,6.02,7.56,7.9,7.64,11.39,...,7.92,5.33,8.83,8.33,7.3,9.85,7.11,8.33,7.16,7.32
7,Castilla y León,10.76,10.74,9.89,12.47,11.48,11.29,9.96,10.02,13.57,...,10.6,17.15,10.57,13.16,11.7,13.71,11.1,11.67,10.3,11.19
8,Castilla - La Mancha,14.26,18.48,14.46,18.58,15.26,18.95,14.81,18.61,12.32,...,12.75,15.07,12.27,12.61,11.6,12.57,13.22,12.34,14.52,14.95
9,Cataluña,4.71,5.86,4.73,6.54,6.1,6.62,4.76,5.49,5.49,...,6.41,8.14,6.4,5.3,7.07,6.43,7.19,7.29,8.12,8.34
10,Comunitad Valenciana,9.92,8.99,9.98,8.74,8.83,10.15,10.82,9.59,9.65,...,9.28,9.19,9.01,9.2,9.6,9.78,10.25,9.89,10.4,11.16
11,Extremadura,19.39,14.71,23.51,15.24,19.86,13.97,17.49,17.61,21.62,...,17.22,12.32,14.55,15.1,17.61,14.03,12.81,15.98,14.91,14.56
12,Galicia,8.27,8.3,8.76,8.15,8.1,9.11,8.58,7.99,7.03,...,8.87,7.55,8.06,7.22,9.65,7.9,9.61,8.74,10.05,10.69
13,Comunidad de Madrid,10.37,11.21,8.95,10.88,9.66,10.74,10.2,9.47,9.71,...,10.88,9.96,12.82,11.54,12.21,12.21,11.71,12.13,10.98,10.92
14,Murcia,11.87,11.64,12.7,11.6,10.99,9.43,11.76,11.76,9.48,...,9.49,9.51,8.37,8.48,11.21,8.48,9.82,9.01,9.12,9.94
15,Navarra,6.79,5.44,8.66,7.13,7.37,3.97,5.66,9.36,6.43,...,7.13,7.68,7.55,5.49,7.47,5.94,5.43,8.58,8.99,5.95
16,País Vasco,9.39,9.56,10.8,9.55,9.52,9.54,9.68,8.49,8.9,...,9.55,8.16,9.98,10.19,8.18,8.08,8.63,9.45,9.38,9.24
17,La Rioja,4.87,2.88,6.85,9.09,6.81,11.03,7.14,12.18,8.87,...,11.08,14.83,13.38,15.34,8.07,8.1,8.85,8.37,8.37,10.9
18,Ceuta,15.48,12.73,29.33,8,19.4,6.12,20.59,9.68,8.33,...,5.63,13.04,13.95,6.67,12.7,17.95,9.86,15.69,10.39,17.14
19,Melilla,10.45,15.38,6.15,5.13,5.8,10,14.06,12.5,5.56,...,7.41,25,14.13,14.29,12.77,16.67,25.69,12,13.33,10.34

In [40]:
#cambio el nombre de las columnas 
Reingresos_urgencias.columns = ['COMUNIDAD AUTÓNOMA'] + [f'{a}.{b}' for a, b in zip(['2005','2005','2006','2006','2007','2007','2008','2008','2009','2009','2010','2010','2011','2011','2012','2012','2013','2013','2014','2014','2015','2015','2016','2016','2017','2017','2018','2018','2019','2019','2020','2020'], ['Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres','Hombres','Mujeres'])]

#elimino la fila 0
Reingresos_urgencias.drop(0, inplace=True)

# reduzco a 3 columnas 
Reingresos_urgencias = Reingresos_urgencias.melt(id_vars=['COMUNIDAD AUTÓNOMA'], value_vars=['2005.Hombres','2005.Mujeres','2006.Hombres','2006.Mujeres','2007.Hombres','2007.Mujeres','2008.Hombres','2008.Mujeres','2009.Hombres','2009.Mujeres','2010.Hombres','2010.Mujeres','2011.Hombres','2011.Mujeres','2012.Hombres','2012.Mujeres','2013.Hombres','2013.Mujeres','2014.Hombres','2014.Mujeres','2015.Hombres','2015.Mujeres','2016.Hombres','2016.Mujeres','2017.Hombres','2017.Mujeres','2018.Hombres','2018.Mujeres','2019.Hombres','2019.Mujeres','2020.Hombres','2020.Mujeres'], var_name='SEXO', value_name='VALORES')


# hago un split de la columna 'sexo' y creo la columna 'año'
Reingresos_urgencias[['AÑO','SEXO']]=Reingresos_urgencias.SEXO.str.split('.',expand=True)
Reingresos_urgencias = Reingresos_urgencias[['COMUNIDAD AUTÓNOMA','SEXO','AÑO','VALORES']]

#ordeno el índice
Reingresos_urgencias.sort_values(by='COMUNIDAD AUTÓNOMA', inplace=True, ignore_index=True)

#hago un groupby de todo el dataframe
Reingresos_urgencias = Reingresos_urgencias.groupby(by = ['COMUNIDAD AUTÓNOMA','SEXO','AÑO','VALORES']).mean()

# los datos presentados son desde 2005 hasta 2020 (consecutivos)
Reingresos_urgencias

Empty DataFrame
Columns: []
Index: [(Andalucía, Hombres, 2005, 12.38), (Andalucía, Hombres, 2006, 12.5), (Andalucía, Hombres, 2007, 14.39), (Andalucía, Hombres, 2008, 13.58), (Andalucía, Hombres, 2009, 14.01), (Andalucía, Hombres, 2010, 13.0), (Andalucía, Hombres, 2011, 12.54), (Andalucía, Hombres, 2012, 12.24), (Andalucía, Hombres, 2013, 12.85), (Andalucía, Hombres, 2014, 12.68), (Andalucía, Hombres, 2015, 13.31), (Andalucía, Hombres, 2016, 13.09), (Andalucía, Hombres, 2017, 13.8), (Andalucía, Hombres, 2018, 12.79), (Andalucía, Hombres, 2019, 12.43), (Andalucía, Hombres, 2020, 13.88), (Andalucía, Mujeres, 2005, 12.12), (Andalucía, Mujeres, 2006, 12.6), (Andalucía, Mujeres, 2007, 13.23), (Andalucía, Mujeres, 2008, 13.03), (Andalucía, Mujeres, 2009, 14.26), (Andalucía, Mujeres, 2010, 13.65), (Andalucía, Mujeres, 2011, 12.71), (Andalucía, Mujeres, 2012, 12.25), (Andalucía, Mujeres, 2013, 13.38), (Andalucía, Mujeres, 2014, 12.02), (Andalucía, Mujeres, 2015, 13.42), (Andalucía, Mujeres, 2016, 13.12), (Andalucía, Mujeres, 2017, 12.67), (Andalucía, Mujeres, 2018, 13.68), (Andalucía, Mujeres, 2019, 14.08), (Andalucía, Mujeres, 2020, 16.81), (Aragón, Hombres, 2005, 12.68), (Aragón, Hombres, 2006, 11.29), (Aragón, Hombres, 2007, 11.69), (Aragón, Hombres, 2008, 11.64), (Aragón, Hombres, 2009, 9.75), (Aragón, Hombres, 2010, 9.7), (Aragón, Hombres, 2011, 8.85), (Aragón, Hombres, 2012, 10.29), (Aragón, Hombres, 2013, 11.84), (Aragón, Hombres, 2014, 9.43), (Aragón, Hombres, 2015, 9.09), (Aragón, Hombres, 2016, 7.56), (Aragón, Hombres, 2017, 7.31), (Aragón, Hombres, 2018, 8.68), (Aragón, Hombres, 2019, 9.52), (Aragón, Hombres, 2020, 9.41), (Aragón, Mujeres, 2005, 11.36), (Aragón, Mujeres, 2006, 11.14), (Aragón, Mujeres, 2007, 10.72), (Aragón, Mujeres, 2008, 10.68), (Aragón, Mujeres, 2009, 9.95), (Aragón, Mujeres, 2010, 8.69), (Aragón, Mujeres, 2011, 8.98), (Aragón, Mujeres, 2012, 9.04), (Aragón, Mujeres, 2013, 9.44), (Aragón, Mujeres, 2014, 8.21), (Aragón, Mujeres, 2015, 9.69), (Aragón, Mujeres, 2016, 8.49), (Aragón, Mujeres, 2017, 9.71), (Aragón, Mujeres, 2018, 9.36), (Aragón, Mujeres, 2019, 7.49), (Aragón, Mujeres, 2020, 8.84), (Balears, Illes, Hombres, 2005, 10.14), (Balears, Illes, Hombres, 2006, 11.46), (Balears, Illes, Hombres, 2007, 11.98), (Balears, Illes, Hombres, 2008, 12.94), (Balears, Illes, Hombres, 2009, 9.93), (Balears, Illes, Hombres, 2010, 9.63), (Balears, Illes, Hombres, 2011, 11.74), (Balears, Illes, Hombres, 2012, 11.05), (Balears, Illes, Hombres, 2013, 12.24), (Balears, Illes, Hombres, 2014, 11.9), (Balears, Illes, Hombres, 2015, 11.74), (Balears, Illes, Hombres, 2016, 7.41), (Balears, Illes, Hombres, 2017, 9.93), (Balears, Illes, Hombres, 2018, 9.97), (Balears, Illes, Hombres, 2019, 8.25), (Balears, Illes, Hombres, 2020, 10.13), (Balears, Illes, Mujeres, 2005, 11.18), (Balears, Illes, Mujeres, 2006, 12.58), (Balears, Illes, Mujeres, 2007, 9.01), (Balears, Illes, Mujeres, 2008, 12.58), (Balears, Illes, Mujeres, 2009, 10.61), (Balears, Illes, Mujeres, 2010, 12.67), (Balears, Illes, Mujeres, 2011, 10.23), (Balears, Illes, Mujeres, 2012, 10.47), (Balears, Illes, Mujeres, 2013, 11.88), (Balears, Illes, Mujeres, 2014, 11.19), (Balears, Illes, Mujeres, 2015, 8.55), (Balears, Illes, Mujeres, 2016, 9.14), (Balears, Illes, Mujeres, 2017, 9.68), (Balears, Illes, Mujeres, 2018, 12.26), (Balears, Illes, Mujeres, 2019, 10.45), (Balears, Illes, Mujeres, 2020, 9.18), (Canarias, Hombres, 2005, 5.84), (Canarias, Hombres, 2006, 6.25), (Canarias, Hombres, 2007, 5.59), (Canarias, Hombres, 2008, 5.91), ...]

[606 rows x 0 columns]

In [46]:
# paso a excel los datos 
file_name = 'Reingresos urgencias psiquiatricas.xlsx'
  
# guardo el dataframe
Reingresos_urgencias.to_excel(file_name)
print('Successfully exported')

Successfully exported